In [1]:
import numpy as np
import pandas as pd

## Data Loading

In [2]:
data=pd.read_csv("kyphosis.csv")
data.head()

  Kyphosis  Age  Number  Start
0   absent   71       3      5
1   absent  158       3     14
2  present  128       4      5
3   absent    2       5      1
4   absent    1       4     15

In [3]:
data.shape

(81, 4)

## Check Null Values

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Kyphosis  81 non-null     object
 1   Age       81 non-null     int64
 2   Number    81 non-null     int64
 3   Start     81 non-null     int64
dtypes: int64(3), object(1)
memory usage: 2.7+ KB

## Select X Values

In [5]:
x=data.drop("Kyphosis",axis=1)
x.head()

   Age  Number  Start
0   71       3      5
1  158       3     14
2  128       4      5
3    2       5      1
4    1       4     15

## Select Y Values

In [6]:
y=data['Kyphosis']
y.head()

0     absent
1     absent
2    present
3     absent
4     absent
Name: Kyphosis, dtype: object

##  Data Preprocessing

In [8]:
## select train and test dataset

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [9]:
x_train.shape

(56, 3)

In [10]:
x_test.shape

(25, 3)

##  Decision Tree

In [13]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [17]:
pred = model.predict(x_test)
pred

array(['absent', 'absent', 'absent', 'present', 'present', 'present',
       'present', 'absent', 'present', 'present', 'absent', 'present',
       'present', 'present', 'present', 'absent', 'absent', 'absent',
       'present', 'present', 'absent', 'present', 'absent', 'absent',
       'present'], dtype=object)

In [18]:
y_test

14     absent
24    present
31     absent
21    present
27     absent
41     absent
80     absent
6      absent
62     absent
22    present
66     absent
70     absent
42     absent
1      absent
34     absent
40    present
5      absent
32     absent
52    present
71     absent
16     absent
57    present
60    present
23     absent
59     absent
Name: Kyphosis, dtype: object

In [20]:
#                         Check Accuracy 

from sklearn.metrics import accuracy_score
accuracy_score(y_test,pred)

0.48

In [21]:
#                        Confusion Matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,pred)

array([[ 8, 10],
       [ 3,  4]], dtype=int64)

In [22]:
## this is the simple therefore can be happen underfitting