In [10]:
import pandas as pd
data =pd.read_csv("Student_Marks.csv")
data

    number_courses  time_study   Marks       cate
0                3       4.508  49.202  Excellent
1                4       0.096   7.734  Excellent
2                4       3.133  13.811       Fail
3                6       7.909  53.018       Fail
4                8       7.811  55.299  Excellent
..             ...         ...     ...        ...
95               6       3.561  19.128       Fail
96               3       0.301   5.609       Fail
97               4       7.163  41.444       Fail
98               7       0.309  12.027  Excellent
99               3       6.335  32.357       Fail

[100 rows x 4 columns]

In [11]:
result_category=data["cate"]
result_category

0     Excellent
1     Excellent
2          Fail
3          Fail
4     Excellent
        ...
95         Fail
96         Fail
97         Fail
98    Excellent
99         Fail
Name: cate, Length: 100, dtype: object

In [12]:
                          ## Method 1


from sklearn.preprocessing import LabelEncoder

In [13]:
obj=LabelEncoder()
result=obj.fit_transform(result_category)

In [14]:
result

array([0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 2, 0, 1, 1, 1, 1, 1, 2, 2, 0, 1, 1,
       2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 2, 0, 1, 0, 0, 2, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 0, 1, 0, 1, 0, 1, 1, 2, 1,
       1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1])

In [22]:


#    pass =1
#    fail =0
#    excelent=2
   
#    this model thinks fail is equal to pass approximately because gap is 1 but much long for Excellent
#    But thease variavles are not independant each other .this is a error in model .
#    therefore we use one hot encoding.

In [17]:
                                 ## Method 2

## One Hot Encoding

from sklearn.preprocessing import LabelBinarizer

# in this encoding ,create sperate columns for thease variables independtly

In [20]:
obj= LabelBinarizer()
result=obj.fit_transform(result_category)
result

array([[1, 0, 0],
       [1, 0, 0],
       [0, 1, 0],
       [0, 1, 0],
       [1, 0, 0],
       [1, 0, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 0, 1],
       [1, 0, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 0, 1],
       [0, 0, 1],
       [1, 0, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 0, 1],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 0, 1],
       [0, 1, 0],
       [1, 0, 0],
       [0, 1, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [1, 0, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 0, 1],
       [1, 0, 0],
       [0, 1, 0],
       [1, 0, 0],
       [1, 0, 0],
       [0, 0, 1],
       [1, 0, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 0, 1],
       [0, 1, 0],
       [0, 0, 1],
       [0, 0, 1],
       [1, 0, 0],
       [0, 1, 0],
       [1, 0, 0],
       [0, 1, 0],
       [1, 0, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 0, 1],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [1, 0, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [1, 0, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [1, 0, 0],
       [0, 1, 0]])

In [21]:
# we can check classes in output
obj.classes_

array(['Excellent', 'Fail', 'Pass'], dtype='<U9')