In [6]:
import numpy as np
import pandas as pd

## Data Loading

In [7]:
data=pd.read_csv("kyphosis.csv")
data.head()

  Kyphosis  Age  Number  Start
0   absent   71       3      5
1   absent  158       3     14
2  present  128       4      5
3   absent    2       5      1
4   absent    1       4     15

In [8]:
data.shape

(81, 4)

## Check Null Values

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Kyphosis  81 non-null     object
 1   Age       81 non-null     int64
 2   Number    81 non-null     int64
 3   Start     81 non-null     int64
dtypes: int64(3), object(1)
memory usage: 2.7+ KB

## Select X Values

In [10]:
x=data.drop("Kyphosis",axis=1)
x.head()

   Age  Number  Start
0   71       3      5
1  158       3     14
2  128       4      5
3    2       5      1
4    1       4     15

## Select Y Values

In [11]:
y=data['Kyphosis']
y.head()

0     absent
1     absent
2    present
3     absent
4     absent
Name: Kyphosis, dtype: object

## Check Distrib

##  Data Preprocessing

In [12]:
## select train and test dataset

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [13]:
x_train.shape

(56, 3)

In [14]:
x_test.shape

(25, 3)

##  Decision Tree

In [15]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [16]:
pred = model.predict(x_test)
pred

array(['present', 'absent', 'present', 'absent', 'absent', 'absent',
       'absent', 'absent', 'absent', 'absent', 'absent', 'present',
       'absent', 'absent', 'present', 'absent', 'absent', 'present',
       'present', 'present', 'present', 'absent', 'absent', 'absent',
       'absent'], dtype=object)

In [17]:
y_test

73     absent
66     absent
67     absent
24    present
38     absent
14     absent
7      absent
13     absent
72     absent
52    present
56     absent
79    present
71     absent
45    present
2     present
75     absent
3      absent
57    present
39    present
0      absent
17     absent
44     absent
8      absent
31     absent
19     absent
Name: Kyphosis, dtype: object

In [18]:
#                         Check Accuracy 

from sklearn.metrics import accuracy_score
accuracy_score(y_test,pred)

0.72

In [19]:
#                        Confusion Matrix

from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,pred)

array([[14,  4],
       [ 3,  4]], dtype=int64)

In [20]:
## this is the simple therefore can be happen underfitting

## Random Forest Algorithm

In [21]:
from sklearn.ensemble import RandomForestClassifier

In [22]:
model=RandomForestClassifier(n_estimators=50) # n_estimators--> Decision Tree
model.fit(x_train,y_train)

RandomForestClassifier(n_estimators=50)

In [23]:
pred = model.predict(x_test)
pred

array(['absent', 'absent', 'absent', 'absent', 'absent', 'absent',
       'absent', 'absent', 'absent', 'present', 'absent', 'absent',
       'absent', 'absent', 'present', 'absent', 'absent', 'present',
       'absent', 'absent', 'absent', 'absent', 'absent', 'absent',
       'absent'], dtype=object)

In [24]:
y_test

73     absent
66     absent
67     absent
24    present
38     absent
14     absent
7      absent
13     absent
72     absent
52    present
56     absent
79    present
71     absent
45    present
2     present
75     absent
3      absent
57    present
39    present
0      absent
17     absent
44     absent
8      absent
31     absent
19     absent
Name: Kyphosis, dtype: object

In [25]:
#                         Check Accuracy 

from sklearn.metrics import accuracy_score
accuracy_score(y_test,pred)

0.84

In [26]:
#                        Confusion Matrix

from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,pred)

array([[18,  0],
       [ 4,  3]], dtype=int64)

In [27]:
data['Kyphosis'].value_counts()
# this is effected accuray of this model

absent     64
present    17
Name: Kyphosis, dtype: int64