In [1]:
import numpy as np
import pandas as pd

In [2]:
df =pd.DataFrame(
    {
        'hours':[8,11,9,5,7.5,9.5,10,7,9,9.5,8,10.5,9,6.5,9],
        'score':[56,70,51,24,30,66,48,36,42,61,39,87,73,48,46]
    }
)
df

    hours  score
0     8.0     56
1    11.0     70
2     9.0     51
3     5.0     24
4     7.5     30
5     9.5     66
6    10.0     48
7     7.0     36
8     9.0     42
9     9.5     61
10    8.0     39
11   10.5     87
12    9.0     73
13    6.5     48
14    9.0     46

In [3]:
y=np.array(df.score.values) # should convert numpy array
y

array([56, 70, 51, 24, 30, 66, 48, 36, 42, 61, 39, 87, 73, 48, 46],
      dtype=int64)

In [4]:
# Assume model
y_pred = 8 * df.hours.values -15
y_pred

array([49., 73., 57., 25., 45., 61., 65., 41., 57., 61., 49., 69., 57.,
       37., 57.])

# Mean Absolute Error (MAE)

In [6]:
from sklearn.metrics import mean_absolute_error
mae=mean_absolute_error(y,y_pred)
print(f"Mean Absolute Error : {mae}")

Mean Absolute Error : 9.333333333333334

# Root mean Squared Error (RMSE)

In [10]:
from sklearn.metrics import mean_squared_error
rmse=mean_squared_error(y,y_pred)
print(f"Mean Squared Error : {rmse}")

Mean Squared Error : 120.4

# R Squared

In [9]:
from sklearn.metrics import r2_score
r2=r2_score(y,y_pred)
print(f"R Squared Error : {r2}")

Mean Absolute Error : 0.5642312518096708